body{
    font-size: 16px;
    font-family: 'Russo One';
    text-align: center;
}

h2{
    font-size: 4rem;
    margin: 150px;
}

h3{
    font-size: 3rem;
}

h4{
    font-size: 2rem;
}

p{
    font-size: 1.765rem;
    line-height: 2;
    word-spacing: 1;
    margin: 100px 300px 0 800px;
}

/*Logo*/

#content .logo{
    width: 100px;
    height: 100px;
    margin-left: 35px;
    position: absolute;
    border-radius: 50%;
    background: linear-gradient(#1B6F1B, #02D9E3, #120AFA);
    z-index: 10;
    pointer-events: none;
    mix-blend-mode: multiply;
}

.logo h3{
    font-size: 1.675rem;
    font-family: 'Rubik Wet paint';
    margin-bottom: 0;
}

.logo h4{
    font-size: 10px;
    margin-top: 0;
}

/*Tablet View*/
@media only screen and (max-width: 600px){
    #content .logo{
        width: 80px;
        height: 80px;
        margin-left: 5px;
        border-radius: 50%;
    }
        
    .logo h3{
        font-size: 1.25rem;
        font-family: 'Rubik Wet paint';
        margin-bottom: 0;
    }
        
    .logo h4{
        font-size: .65rem;
        margin-top: 0;
    }
        
    }
    
/*Header*/

#content{
    width: 100%;
    height: 110px;
    position: fixed;
    display: flex;
    flex-direction: row;
    background-color: #A7B688;
    z-index: 100;
    margin: 0;
    padding: 0;
}

#content nav ul{
    width: 100%;
    margin-bottom: 50px;
    list-style: none;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    flex-grow: 2;
}

#content li{
    font-size: 4rem;
    width: 300px;

}

#content a{
    font-size: 1.675rem;
    text-decoration: none;
    width: 400px;
    margin-right: 15%;
    text-align: center;
}

.mobile{
    display: none;
}
/*Header

header{
    width: 100%;
    height: 110px;
    position: fixed;
    z-index: 100;
}

Navigation Bar
#content nav ul{
    width: 100%;
    display: flex;
    flex-direction: row;
}

#content nav ul{
    list-style: none;
}

nav li{
    padding-left: 2.5rem;
}

nav a{
    text-decoration: none;
}

.mobile{
    display: none;
}*/