html{
    font-size: 16px;
    font-family: 'Rubik Wet Paint';
    background-color: #454724;
}

header{
    width: 100%;
    position: fixed;
    background-color: #b5b4b1;
}

#content{
    display: flex;
    align-items: center;
    width: 100%;
}

/*Logo*/
#content .logo{
    height: 100px;
    width: 100px;
    margin: 1rem 0;
    padding: 0;
    border-radius: 50%;
    color: #ffffff;
    inset: 0;
    background: linear-gradient(#08ff12, #0791ff);
    pointer-events: none;
    mix-blend-mode: multiply;
}

#content div.logo{
    margin: 0;
    display: inline-block;
}

#content h3{
    padding-top: 20px;
    margin-bottom: 0;
    text-align: center;
}

#content h4{
    font-family: 'Russon One';
    margin: 0;
    text-align: center;
}

/*Desktop Navigation Bar*/
.main-menu{
    background-color: #08ff12;
    width: 100%;
    height: auto;
    margin: 0 25px;
    padding: 0;
    text-align: center;
}

#content nav ul {
    font-family: 'Russo One';
    font-size: 1rem;
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: row;
    margin-top: -50px;
    margin-left: 5%;
}

#content ul li{
    margin: 25px 0 0 0;
}

#content a{
    text-decoration: none;
    margin: 0 25px 0 0;
    width: 10px;
    padding: 2px 15px;
    background-color: #0791ff;
}

.main-menu{
    font-size: 1.675rem;
    width: 900px;
    display: inline-block;
}

#content .mobile{
    display: none;
}

@media only screen and (max-width: 1330px){
    #content .logo{
        margin-left: 5%;
    }
    #content nav ul {
        margin-top: -50px;
        margin-left: 50%;
    }
            
    #content .main-menu{
        font-size: 1.675rem;
        width: 900px;
        display: inline-block;
    }
        
}

