/*NOTES:
Working on gallery*/
body{
    width: 100%;
    max-width: 1000px;
    font-size: 16px;
    font-family:'Russon One';
    text-align: center;
    line-height: 1.5;
    background-color: #EFEEEB;
}

h2 {
    font-size: 1.563rem;
}

h3 {
    font-size: 1.875rem;
}

h4 {
    font-size: 2.44rem;
}

p {
    font-size: 1rem;
}

/*Header*/

#content{
    height: 100px;
    width: 100%;
    max-width: 950px;
    position: fixed;
    display: flex;
    flex-direction: column;
    background-color: #EFEEEB;
    z-index: 100;
}

nav.main-menu {
    height: 100px;
    margin-left: 10px;
}

#content nav ul{
    margin-left: 7%;
    list-style: none;
    display: flex;
    flex-direction: row;
    text-align: center;
    flex-grow: .5;    
}

#content li {
    margin: 20px 6% 20px 0;
    border: 5px;
}

#content a{
    padding: 5px;
    font-size: 1rem;
    text-decoration: none;
    color: #009A9C;
    text-align: center;
}

.mobile{
    display: none;
}

@media only screen and (max-width: 1240px) {

}
/*Logo*/
#content .logo{
    width: 100px;
    height: 100px;
    margin-left: 1%;
    position: absolute;
    border-radius: 50%;
    background: linear-gradient(#1B6F1B, #02D9E3, #120AFA);
    z-index: 10;
    pointer-events: none;
    mix-blend-mode: multiply;
}
.logo h3{
    font-size: 2rem;
    font-family: 'Rubik Wet paint';
    margin-bottom: 0;
    margin-top: 15px;
}

.logo h4{
    font-size: .65rem;
    margin-top: 0;
}

img {
    width: 150px;
    height: auto;
}

/*Working here*/
.flex-box .gallery{
    width: 95%;
    height: 150px;
    display: block;
    margin: 50px;
}